body
    margin: 0
    font-family: Arial, sans-serif
    background-color: #F5F5FA

.background-image
    position: fixed
    top: -150px
    left: 0
    width: 100%
    height: 100%
    background-size: cover
    background-position: center
    z-index: -1

.next-button
    margin-top: -400px
    text-align: center

    button
        background-color: #57419D
        padding: 15px 10px
        width: 350px
        color: white
        border: none
        border-radius: 10%
        cursor: pointer
        font-size: 16px
        transition: background-color 0.3s ease
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
        &:hover
            background-color: #452d7a

.tutorial-content
    max-width: 800px
    margin: 500px auto
    background-color: #F5F5FA
    padding: 20px
    h1
        text-align: center
        color: #333
        font-size: 20px
    p
        line-height: 1.6
        color: #555
        font-size: 16px
        margin-bottom: 5px
