.tutorial-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:#F5F5FA;
    align-items: center;
    padding: 40px 20px;
    position: relative;
    overflow: hidden;
  
    .tutorial-background {
      position: absolute;
      top: -150px;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .background-svg {
        width: 100%;
        height: auto;
      }
    }
  
    .tutorial-content {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      color: black;
      top: 450px;
  
      h1 {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
      }
  
      p {
        font-size: 12px;
        line-height: 1.6;
        max-width: 300px;
        margin-bottom: 180px;
        opacity: 0.8;
      }
  
      .skip-button {
        background-color: #57419D;
        color: white;
        border: none;
        padding: 16px 60px;
        width: 100%;
        font-size: 18px;
        font-weight: 600;
        border-radius: 30px;
        cursor: pointer;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;
  
        &:hover {
          transform: translateY(-2px);
          box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
        }
  
        &:active {
          transform: translateY(0);
        }
      }
    }
  }